@import "tailwindcss";

@theme {
  --color-yellow: #fdf3c1;
  --color-teal: #80cfa9;
  --color-red: #f37f7f;

  --font-roboto-slab: "Roboto Slab", serif;
  --font-lobster: "Lobster", sans-serif;
  --font-tiny5: "Tiny5", sans-serif;
}
