@import "tailwindcss";

@theme {
  --color-yellow: #fdf3c1;
  --color-teal: #80cfa9;
  --color-red: #f37f7f;

  --font-main: "Roboto Slab", serif;
  --font-header: "Lobster", sans-serif;
  --text-shadow-header: 5px 2px rgb(0, 0, 0);
}
